<!DOCTYPE html>
<html>
  <head>
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">
    <link rel="stylesheet" href="{% static "css/header.css" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <script src="{% static "js/classie.js" %}"></script>
    <script src="{% static "js/header.js" %}"></script>
  </head>
  <body>
    {% include "widgets/header.html" %}
    <div class="main">
      
    </div>
  </body>
</html>
