<header>
      <div class="container clearfix">
        <div class="logo">
          <img src="static/img/logo_dynlocal.png" alt="" />
        </div>
        <nav>
          <a href="/contrib/">Agriculteur?</a>
        </nav>
        <div class="band">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="form-search search-only">
              <i class="search-icon glyphicon glyphicon-search"></i>
              <input type="text" id="magic" class="form-control search-query" onclick="shrink_click()">
            </div>
          </div>
        </div>
      </div>
</header>
